@mixin mask($image, $color, $repeat: no-repeat, $position: center, $size: auto) {
  background: $color;
  -webkit-mask-image: url(#{$image});
  mask-image: url(#{$image});
  -webkit-mask-size: $size;
  mask-size: $size;
  -webkit-mask-repeat: $repeat;
  mask-repeat: $repeat;
  -webkit-mask-position: $position;
  mask-position: $position;
}
